* {
    font-family: Arial, Helvetica, sans-serif; 
}

body {
    background-image: url('assets/img/moon3-fixed.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}



